/* body */
.bg {
  background-image: url("../images/indexbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}




/* navigation bar */

.nav-class {
  margin-top : 3%;
  font-size: 1rem;
  font-weight: 600;

  color: white;

}

.nl-class {
  background-color: #8BFFFF;
  border-radius: 20px;
  text-align: center;
  margin: 0 10px;
  width: 100px;
}

.navbar-brand {
  font-size: 2rem;
  padding: 0 100px;
  font-family: "Ubuntu";
  font-weight: 800;
}

.togglebtn {
  height: 30px;
  width: 30px;
}

@media (max-width: 1028px) {
  .navbar-brand {
    font-size: 2rem;
    padding: 0 10px;
    font-family: "Ubuntu";
    font-weight: 800;
  }
  .bg {
    height: 100vh;
  }
  .navul {
    margin-right: auto;
  }
  .nl-class {
    margin: 2% 2%;
    margin-left: auto;
  }

}

@media (min-width: 1028px) {
  .left {
    border-right: 5px solid #10386C;
    padding: 0 2.4%;
  }
  .leftcol {
    padding: 0 70px;
    opacity: 0.7;
    font-weight: bold;
    color: #10386C;
  }
  .lastnl {
    margin-right: 150px;
  }
  .middle {
    padding: 5% 0;
  }
}


/* footer */


.footer-link {
  margin-right: 20px;
}
